@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Montserrat:ital,wght@0,200;1,200&family=Playfair+Display&family=Poppins:ital,wght@1,300&family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Dancing script', cursive;
    scroll-behavior: smooth;
}
.contenu h1{
    font-family: 'Caveat', cursive;
}
.contenu h2{
    font-family:  'Poppins', sans-serif;;

}

p{
    font-weight: 300;
    color: black;
    font-family: 'Dancing script', cursive;
    
}
.logo{
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    margin-top: .5rem;
    font-family: 'Dancing script', cursive;
    text-decoration: none;
}

.logo span{
    font-family: 'Bebas Neue', cursive;
    color: rgba(17, 104, 186, 0.721);
}

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    top: 0%;
    left: 0%;
    padding: 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    transition: 0.5s ;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

 /*RESPONSIVE NAVBAR END*/ 

.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/dig.jpg);
    background-size: cover;
}

.banniere .contenu{
    max-width: 70%;
    text-align: center;
}

.banniere .contenu h2{
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
}

.contenu p{
    color: #fff;
    font-size: 25px ;
}

.btn1{
    font-family: 'Poppins', sans-serif;
    background:#5a528b91 ;
    color: white;
    text-decoration: none;
    border: 1px solid transparent ;
    font-weight: bold;
    margin-top: 20%;
    padding: 7px 14px;
    border-radius: 30px;
    transition: .4s;
    font-size: 13px;
    display: inline-block;

}
.btn1:hover{
    letter-spacing: 2px;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
}

.row .col50{
    position: relative;
    width: 40%;
    justify-content: center;
    align-items: center;

}
.row .col50 h2{
    margin-bottom: 20px;
}

.titre-texte{
    color: black;
    font-size: 2em;
    font-weight: 300;
    text-transform: capitalize;

}

/*CONTACT START*/

.contact-section{
    background: url(img/dig.jpg);
    background-size: cover;
    padding: 60px 0;
  }
  .contact-section h1{
    font-family: 'Dancing Script', cursive;
    margin-top: 30px;
    text-align: center;
    color: #ddd;
  }
  .border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  .nom{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    margin-top: 17px;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .mail{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    margin-top: 17px;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .tel{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    margin-top: 17px;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .area{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    margin-top: 17px;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
  }
  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: #2980b9;
}
/*CONTACT END*/
 
/*FORMATION*/
.formation{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background: rgba(244, 233, 233, 0.605)
}
.pageblock{
    position: relative;
    margin: 0px;
    padding: 0px;  
}
/*

.clear{
    clear: both;
}*/
.formation h2{
    font-size: 45px;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 15px 0;
    text-transform: uppercase;
    color: #043556;
}
.formation-col h3{
    font-size: 45 px;
    font-family: 'Dancing script', cursive;
}
.formation p{
    color:black;
    font-size: 27px;
    font-weight: 300;
    line-height: 30px;
    padding: 10px;
    letter-spacing: 2px;
}

/*FORMATION SECTION*/
.rw{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    margin: 10px 15px;
    background-image:url(img/log.ico) ;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    margin-top: 5%;
    margin-bottom: 5%;
}
.card1{
    background-image:url(img/docker.jpg) ;
}
.card2{
    background-image:url(img/kub.jpg) ;
}
.card3{
    background-image:url(img/gitlab.png) ;
}
.card4{
    background-image:url(img/aws.jpg) ;
}
.card5{
    background-image:url(img/gcp.png) ;
}
.card6{
    background-image:url(img/Azure.webp) ;
}
.card:hover{
    transform: translateY(-10px) ;
}
h5{
    color: black;
    font-size: 17px;
    /*text-shadow: 0 0 10px #999;*/
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
ol{

    font-size: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}
.formation-col{
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}


.formation-col{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.1;
}

.formation-col h3:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px){
    .vertical{
        width: 1px;
    }
    h2{
        font-size: 24px;
        line-height: unset;
    }
    .row{
        flex-direction: column ;
    }
}

/*ABOUT START*/
.about{
    width: 100%;
    padding: 78px 0px;
    
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about img{
    height: auto;
    width: 500px ;
    max-width: 100%;
}
.about-text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.main{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
}
.about-text h5{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: rgb(88, 88, 203);
}
.about-text p{
    color:white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    font-family: 'Poppins', sans-serif;
    background:#2100f991 ;
    color: white;
    text-decoration: none;
    border: 2px solid transparent ;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    font-size: 17px;
}
button:hover{
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
}
@media screen and (max-width:1180px){
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}
@media screen and (max-width:1180px){
    .about img{
        margin-bottom: 35px;
    }
    .about-text h1{
        font-size: 30px;
        margin-bottom: 25px;
    }

}


/*FOOTER START*/
.contner{
	max-width: 1170px;
	margin:auto;
}
.ro{
	display: flex;
	flex-wrap: wrap;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col p{
    font-size: 20px;
    color: #fff;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 25px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*FOOTER END*/
